.anticon .anticon-user {
  display: none;
}

.ant-pagination-options {
  display: none;
}
.input {
  width: 69%;
  margin-left: 17%;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
