.anticon .anticon-user {
  display: none;
}
.ant-input.ant-input-lg.css-dev-only-do-not-override-j9bb5n.ant-input-outlined {
  width: 69%;
  margin-left: 17%;
}
.ant-pagination-options {
  display: none;
}
